/*Tela Principal*/

.body_body{
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  background-size: cover;
  height: 100vh;
}

/*Faixa Principal*/

.button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  padding-top: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  border-radius: 40px/40px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-align: center;
}
.button:hover {
  background: rgb(66, 66, 66);
  color: #ffea00;
}

.faixa{
  /*ffea00,ffc805,ffd800,fc9608,282623,23211f,,fef9ca - cores da faixa principal e secundaria*/ 
  margin: 0;
  background-color: #ffd800;
  width: 100%;
  height: 100px;
  display : flex;
  flex-direction: row;

}

.logo{
  padding-left: 18px;
}

.nome_principal{
  text-align: center;
  font-size: 14vh;
  color: #23211f;
  width: 100%;
  margin-top: 0%;
}

.a{
  text-align: center;
}

.cantinho_principal{
  display : flex;
  flex-direction: column;
  margin-right: 3%;
  width: 10%;
  padding-top: 15px;
  text-align: center;
}  

.nome_usuario{
  width: 100%;
}

.traço{
  width: 100%;
  height: 3%;
  background-color: black;
  border: black;
  border-radius: 100%;
}

.menu{
  display: flex;
  flex-direction: row;
	font-weight:bolder;
	align-self:center;
	width:100%;
  list-style:none;
  margin-top:0px;
  background-color:#23211f;
}

.menu li{
  position: relative;
	font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  background-color:#23211f;
}

.menu li a{

	background:#23211f;
	color:#FFFFFF;
	text-decoration:none;
	padding:20px 52px;
	display:block;
}
 
.menu li a:hover{
    background:#fff;
    color:#23211f;
    -moz-box-shadow:0 3px 10px 0 #ccc;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #ccc;
}

/*Faixa Principal*/

.faixaSecundaria{
  background-color:#202733;
  width: 100%;
  height: 45%;
}

/*Tela Principal*/

/*Pop-up de Login*/

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #ffea00;
  margin: 20px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup , .popupcad {
  margin: 70px auto;
  padding: 20px;
  width: 300px;
  position: relative;
  background: #313131;
  border-radius: 24px;
  margin-top: 5%;
}

.popup p , .popupcad p{
  margin-top: 25px;
  font-family: Tahoma, Arial, sans-serif;
  color: #ffea00;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.popup .close , .popupcad .close{
  color: #ffea00;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup .close:hover{
  color: #ffea00;
}

.popupcad .close:hover{
  color: #ffea00;
}

.popup .content , .popupcad .contentcad{
  overflow: auto;
}
   
.popup .content input[type = "text"], .popup .content input[type = "password"], .popupcad .contentcad input[type = "text"], .popupcad .contentcad input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffea00;
  padding: 14px 10px;
  width: 180px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.popup .content input[type = "text"]:focus, .content input[type = "password"]:focus, .popupcad .contentcad input[type = "text"]:focus, .popupcad .contentcad input[type = "password"]:focus{
  width: 220px;
  border-color: #ffea00;
}

.popup .content input[type = "submit"], .popupcad .contentcad input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffea00;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.popup .content input[type = "submit"]:hover, .popupcad .contentcad input[type = "submit"]:hover{
  background: #ffea00;
}

.submit{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffea00;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.submit:hover{
  background: #ffea00;
}

.content a{
    color: white;
    text-align: center;
    padding-left: 70px;
}


/* Lista de pesquisa*/

.not_faixa{
  display: flex;
  flex-direction: column;
}

.tres_partes{
  display: flex;
  flex-direction: row;
}

/* Parte do meio*/

.middle{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 60%;
  background-color: #fef9ca;
  position: relative;

}

#pesquisa_bar{
  border: 2px solid #ddd;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px/20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

#pesquisa_texto{
    background-color: var(--search-box-bg,#f6f6f6);
    border: none;
    font-size: 20px;
    height: 100%;
    outline: none;
    padding-inline-end: 40px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}

.pesquisa_lupa{
  background: url("images/lupa1.png");
  width: 30px;
  height: 30px;
}

#container{
  margin: 0%;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;

}

ul li:hover {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

/* Parte do meio*/

/* Parte da direita*/

.last{
  padding-left: 10%;
  width: 30%;
  height: auto;
  border: 2px solid black;
  border-radius: 20px/20px;
  position: relative;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.minha_lista{
  
}

h2{
  text-align: center;

}

/* Parte da direita*/



/* Lista de pesquisa*/