{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Pedidos Anteriores</h2>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data do Pedido</th>
            <th scope="col">Status do Pedido</th>
            <th scope="col">Preço total do Pedido</th>
            <th scope="col">Enviado Para</th>
        </tr>
        </thead>

        <tbody>
        {% for order in my_orders.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{order.start_date}}</td>
            <td>
               {{order.ordered}}
            </td>
            <td>
                {{order.totalprice}}
            </td>
            <td>
               {{order.envio_option}}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>


    </div>

    </div>
  </main>

{% endblock content %}


